staticman{
.staticman-comments {
  padding: 20px 0px 0px 0px;
}

 .static-comment {
  margin-bottom: 20px;
  margin-top: 20px;
}

 .comment-content {
  border-top: 1px solid #EEEEEE;
  padding: 4px 0px 4px 0px;
}

 .comment-content > * {
  padding: 5px 0px 5px 0px;
  margin: 5px 2px 0px 2px;
}

.textfield {
  width: 420px;
  max-width: 100%;
  padding: 0.5rem 0;
  width: 100%;
}

 input {
  border: 1px solid rgba(0,0,0,0.12);
  padding: 4px 5px;
  width: 100%;
  [theme=dark] & {
      background-color: $header-background-color-dark;
    }

}



.g-recaptcha {
  padding: 0.5rem 0;
}

 textarea {
  border: 1px solid rgba(0,0,0,0.12);
  padding: 4px 5px;
  vertical-align: top;
  height: 10em;
  width: 100%;
        [theme=dark] & {
      background-color: $header-background-color-dark;
    }
}

 .comment-preview {
    margin-top: 20px;
}

 .comment-avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

 .comment-timestamp {
  float: right;
  font-size: 14px;
  font-weight: normal;
}


.static-comment-reply {
  margin-left: 2em;
}

.btn {
  background-color: #8cccf3;
  color: #002B36;
}


.comment-reply-btn a {
  margin: 20px 0px 20px 0px;
}

 .reply-notice img.comment-avatar {
  display: inline-block;
  float: none;
  width: 3rem;
  height: 3rem;
  margin: 0 .6rem;
}

 a.close-btn {
  margin: 0 .6rem;
  padding: 3px 3px;
}

 a.close-btn:hover {
  text-decoration: none;
}

 .js-form.form--loading {
  opacity: 0.5;
  cursor: not-allowed;
}
}
